.details-heading {
  margin-top: 12px;
  font-weight: bold;
}
.add-button {
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-width {
  width: 100px;
}
.para-and-icons {
  margin-left: 19px;
  margin-top: -10px;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media only screen and (max-width: 577px) {
  .imagepreview-div{
    display: flex !important;
    justify-content: center !important;
    max-width: 100% !important;
  }
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
